footer{
    margin-top: 100px;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: right;
    gap: 10px;
}

footer .icons-contato a{
    margin-left: 20px;
    color: white;
}

footer .icons-contato.alter a{
    color: gray;
}